.container {
  background-color: rgba(16, 16, 21, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  padding: 152px 80px 100px;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  gap: 40px 100px;
  flex-wrap: wrap;
}


.headerContent {
  flex-grow: 1;
  flex-basis: auto;
}

.headerWrapper {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .headerWrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

/* .imageColumn {
  display: flex;
  flex-direction: column;
  line-height: normal; 
  text-align: center;
  width: 250px;
  margin-left: 0px;
  border-radius: 10px;
} */
.imageColumn {
  text-align: center; /* 水平居中行内内容 */
  width: 250px;
  margin: 20px auto; /* 将整个元素水平居中 */
  border-radius: 10px;
}

.imageColumn img {
  text-align: center;
  border-radius: 12px;
}

@media (max-width: 991px) {
  .imageColumn {
    width: 100%;
  }
}

.headerImage {
  aspect-ratio: 0.99;     
  object-fit: contain;     
  object-position: center; 
  max-width: 100%;         
  max-height: 100%;        
  flex-grow: 1;
}
.dropheaderImage{
  aspect-ratio: 0.99;     
  object-fit: contain;     
  object-position: center; 
  max-width: 100%;         
  max-height: 100%;        
  flex-grow: 1;
}
.dropzone {
  display: flex;
  justify-content: center; 
  align-items: center;    
  width: 100%;            
  height: 300px;          
  border-radius: 10px;
}

@media (max-width: 991px) {
  .headerImage {
    margin-top: 38px;
  }
}

.textColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .textColumn {
    width: 100%;
  }
}

.title {
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  margin: auto 0;
  font: 700 54px/1.4 Alumni Sans, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
}

@media (max-width: 991px) {
  .title {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }
}

.creditsLeft {
  border-radius: 16px;
  background-color: rgba(27, 27, 32, 1);
  color: rgba(255, 255, 255, 1);
  margin: auto 0;
  padding: 19px 25px;
  width: max-content;
  font-size: 20px;
  font-weight: 600;
  font: 700 45px/1.4 Alumni Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

 @media (max-width: 991px) {
  .creditsLeft {
    font-size: 40px;
    padding: 0 20px;
  }
}

.mainContent {
  display: flex;
  margin-top: 54px;
  flex-direction: column;
  font-family: Alumni Sans, sans-serif;
  color: rgba(255, 255, 255, 1);
  line-height: 1.4;
}

@media (max-width: 991px) {
  .mainContent {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.inputSection {
  border-radius: 16px;
  background-color: rgba(27, 27, 32, 1);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 20px 37px 22px;
}

@media (max-width: 991px) {
  .inputSection {
    max-width: 100%;
    margin-right: 10px;
    font-size: 40px;
    padding: 0 20px;
  }
}

.inputLabel {
  align-self: start;
  font-size: 20px;
}

@media (max-width: 991px) {
  .inputLabel {
    font-size: 40px;
  }
}

.divider {
  margin-top: 20px;
  height: 1px;
  border: 1px solid rgba(70, 70, 79, 1);
}

@media (max-width: 991px) {
  .divider {
    max-width: 100%;
  }
}

.advancedSettingsTitle {
  font-size: 20px;
  font-weight: 700;
  align-self: start;
  margin-top: 40px;
}

@media (max-width: 991px) {
  .advancedSettingsTitle {
    margin-top: 40px;
    font-size: 40px;
  }
}

.promptSection {
  display: flex;
  margin-top: 28px;
  width: 100%;
}

.promptLabel {
  font-size: 20px;
  font-weight: 700;
  width: 82px;
}

@media (max-width: 991px) {
  .promptLabel {
    font-size: 40px;
  }
}

.promptInput {
  border-radius: 16px;
  background-color: rgba(27, 27, 32, 1);
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  width: 100%;
  color: #fff;
  margin-left: 30px;
}

@media (max-width: 991px) {
  .promptInput {
    max-width: 100%;
    padding: 0 20px 100px;
  }
}

.styleSection {
  border-radius: 16px;
  background-color: rgba(27, 27, 32, 1);
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 37px;
}

@media (max-width: 991px) {
  .styleSection {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.styleHeader {
  align-self: start;
  display: flex;
  gap: 30px;
}

.styleIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 45px;
  border-radius: 16px;
}

.styleLabel {
  flex-basis: auto;
  margin: auto 0;
}

.modelSection {
  border-radius: 16px;
  background-color: rgba(27, 27, 32, 1);
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 37px;
}

@media (max-width: 991px) {
  .modelSection {
    max-width: 100%;
    font-size: 40px;
    padding: 0 20px;
  }
}

.modelHeader {
  align-self: start;
  display: flex;
  gap: 30px;
}

@media (max-width: 991px) {
  .modelHeader {
    font-size: 40px;
  }
}

.modelIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 45px;
  border-radius: 16px;
}

.modelLabel {
  flex-basis: auto;
  flex-grow: 1;
  margin: auto 0;
}

@media (max-width: 991px) {
  .modelLabel {
    font-size: 40px;
  }
}

.generateButton {
  border-radius: 50px;
  background-color: rgba(94, 81, 237, 1);
  align-self: center;
  width: 424px;
  font-size: 30px;
  font-weight: 500;
  white-space: nowrap;
  margin-top: 50px;
  padding: 27px 70px;
  color: #fff;
}

@media (max-width: 991px) {
  .generateButton {
    font-size: 40px;
    margin-top: 40px;
    white-space: initial;
    padding: 0 20px;
  }
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} 

.metadataSection{
  display: flex;
  flex-direction: row;
  /* margin-top: 40px; */
  font-size: 20px;
  font-weight: 500;
  padding: 20px 37px;
  border-radius: 16px;
  text-align: center;
  margin: auto;

}

.metaLabel{
  text-align: justify;
  font: 1.2em sans-serif;
  margin-right: 30px;
  margin-left: 50px;
}

.input{
  width: 80%;
  /* min-height: 100px; */
  padding: 15px;
  border: 1px solid #5e51ed;
  border-radius: 8px;
  background: rgba(94, 81, 237, 0.1);
  color: white;
  font-size: 16px;
}